<div class="popup" onclick="myFunction()">
  <form action="/action_page.php">
    <label>Start day:</label>
    <input type="date" id="birthday" name="birthday">
    <label>End day:</label>
    <input type="date" id="birthday" name="birthday">
    <input type="submit" value="Place Order">
  </form>
</div>
