article {
  background-color: rgba(249, 249, 249, 1);
  padding: 30px 45px;
  display: flex;
  justify-content: center;

  .article-text {
    margin: 30px 15px;
  }

  a {
    border: 2px solid black;
    padding: 12px 20px;
    margin-top: 12px;
    margin-bottom: 0;
  }
}
