<%= render "shared/banner" %><br><br>
  <p class="title">Music Instruments around the world</p>
  <div class="article-container">
    <br>

    <div class="cards-container">
      <div class="product-card">
        <div class="img-bg"></div>
        <div class="product-content">
          <div class="content-top">
            <p>Strat Shape Electric Guitar</p>
            <p><i class="fa-solid fa-star"></i>4,98</p>
          </div>
          <p>Rs350 / Day</p>
        </div>
      </div>

      <div class="product-card">
        <div class="img-bg"></div>
        <div class="product-content">
          <div class="content-top">
            <p>Strat Shape Electric Guitar</p>
            <p><i class="fa-solid fa-star"></i>4,98</p>
          </div>
          <p>Rs350 / Day</p>
        </div>
      </div>

      <div class="product-card">
        <div class="img-bg"></div>
        <div class="product-content">
          <div class="content-top">
            <p>Strat Shape Electric Guitar</p>
            <p><i class="fa-solid fa-star"></i>4,98</p>
          </div>
          <p>Rs350 / Day</p>
        </div>
      </div>

      <div class="product-card">
        <div class="img-bg"></div>
        <div class="product-content">
          <div class="content-top">
            <p>Strat Shape Electric Guitar</p>
            <p><i class="fa-solid fa-star"></i>4,98</p>
          </div>
          <p>Rs350 / Day</p>
        </div>
      </div>

      <div class="product-card">
        <div class="img-bg"></div>
        <div class="product-content">
          <div class="content-top">
            <p>Strat Shape Electric Guitar</p>
            <p><i class="fa-solid fa-star"></i>4,98</p>
          </div>
          <p>Rs350 / Day</p>
        </div>
      </div>
    </div>

  </div>
  <br><br><br>
